  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="./"><button type="button" class="btn btn-primary">Volver a inicio</button></a>
      </div>
    </div>
  </nav>
  <div class="row ml-5 justify-content-center">
    <div class="col-md-6 justify-content-center">
    <div class="card">      
      <div class="card-body">
        <div class="card-title">          
          <b>Daniel Clas | </b> Alumno de la Tecnicatura en Programación en UTN FRA
        </div>
        <div class="card-text">
          <div class="row ml-2">
            Explicación del juego propio:
          </div>
          <div class="row mt-2 ml-2">
            El objetivo es adivinar la mayor cantidad de capitales en las 10 preguntas que se muestran. Cada jugador recibirá 10 preguntas, 
            mostrándose el nombre y bandera de un pais, y cuatro opciones para su capital. El usuario debe elegir la correcta, y en base a ésto
            se calculará su puntaje.
          </div>
        </div>
      </div>
    </div></div>
    <div class="col-md-6">
      <img class="card-img-top" src="./../../../assets/perfil.jpg" style="width: 300px;" alt="Card image cap">
    </div>
  </div>


  
 