<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="./"><button type="button" class="btn btn-primary">Volver a inicio</button></a>
    </div>
  </div>
</nav>
<div class="row justify-content-center px-5">
<table class="table table-condensed  w-50 bg-light  border border-secondary">
  <thead>
    <tr>
      <th>Usuario</th>
    </tr>
  </thead>
  <tbody *ngIf="users">
    <tr *ngFor="let user of users" >
      <td>{{user.email}} </td>      
    </tr>   
  </tbody>
</table>
</div>
<div *ngIf="showSpinner" class="row justify-content-center">
  <img src="./../../../assets/spinner.gif" style="height: 300px; width: auto;">
</div>