<div class="container" >
  <div class="row justify-content-center">
    <ul class="list-group w-50 p-4">      
      <li class="list-group-item">
          <div class="media">
              <div class="media-left">
                <img class="mr-4" src="../../../assets/anagrama.png" style="width: 100px; height: auto;" alt="">
                </div>
            <div class="media-body">
              <h4 class="media-heading">Anagrama</h4>
              <a class="navbar-brand"  (click)="Juego('Anagrama')"><button type="button" class="btn btn-primary btn-sm">Ir al juego</button></a>
            </div>
          
          </div> 
      </li>          
      <li class="list-group-item">
          <div class="media">
              <div class="media-left">
                <img class="mr-4" src="../../../assets/piedrapapeltijera.png" style="width: 100px; height: auto;" alt="">
                </div>
            <div class="media-body">
              <h4 class="media-heading">Piedra, papel o tijera</h4>
              <a class="navbar-brand" (click)="Juego('PiedraPapelTijera')"><button type="button" class="btn btn-primary btn-sm">Ir al juego</button></a>
            </div>          
          </div> 
      </li>            
      <li class="list-group-item">
          <div class="media">
              <div class="media-left">
                <img class="mr-4" src="../../../assets/agilidad-aritmetica.png" style="width: 100px; height: auto;" alt="">
                </div>
            <div class="media-body">
              <h4 class="media-heading">Agilidad aritmetica</h4>
              <a class="navbar-brand"  (click)="Juego('Agilidad')"><button type="button" class="btn btn-primary btn-sm">Ir al juego</button></a>
            </div>          
          </div> 
      </li>             
      <li class="list-group-item">
          <div class="media">
              <div class="media-left">
                <img class="mr-4" src="../../../assets/adivina-el-numero.png" style="width: 100px; height: auto;" alt="">
                </div>
            <div class="media-body">
              <h4 class="media-heading">Adivina el número</h4>
              <a class="navbar-brand" (click)="Juego('Adivina')"><button type="button" class="btn btn-primary btn-sm">Ir al juego</button></a>
            </div>
          
          </div> 
      </li>           
      <li class="list-group-item">
          <div class="media">
              <div class="media-left">
                <img class="mr-4" src="../../../assets/tateti.png" style="width: 100px; height: auto;" alt="">
                </div>
            <div class="media-body">
              <h4 class="media-heading">TA - TE - TI</h4>
              <a class="navbar-brand"  (click)="Juego('Tateti')"><button type="button" class="btn btn-primary btn-sm">Ir al juego</button></a>
            </div>
          
          </div> 
      </li>        
      <li class="list-group-item">
          <div class="media">
              <div class="media-left">
                <img class="mr-4" src="../../../assets/memotest.png" style="width: 100px; height: auto;" alt="">
                </div>
            <div class="media-body">
              <h4 class="media-heading">Memotest</h4>
              <a class="navbar-brand"   (click)="Juego('Memotest')"><button type="button" class="btn btn-primary btn-sm">Ir al juego</button></a>
            </div>
          
          </div> 
      </li>     
      <li class="list-group-item">
          <div class="media">
              <div class="media-left">
                <img class="mr-4" src="../../../assets/bandera.png" style="width: 100px; height: auto;" alt="">
                </div>
            <div class="media-body">
              <h4 class="media-heading">Adivina la capital</h4>
              <a class="navbar-brand" (click)="Juego('AdivinaCapital')"><button type="button" class="btn btn-primary btn-sm">Ir al juego</button></a>
            </div>
          
          </div> 
      </li>
    </ul>
  </div>    
</div>
  